h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  color: rgb(226, 43, 98);
  font-size: medium;
  font-family: cursive;
  font-style: unset;
  line-height: 40px;
}
ol {
  color: rgb(226, 43, 104);
  font-size: medium;
  font-family: cursive;
  font-style: unset;
  line-height: 40px;
}